@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);
$fontSans : 'Montserrat', sans-serif;
$fontSerif : 'Droid Serif', serif;

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
*{ box-sizing:border-box;}

.app-heading {
    padding: 10px;
    border-bottom: solid 0.5px rgb(206, 206, 206);
}

.player-heading {
    border-bottom: 2px solid rgb(206, 206, 206);
    padding: 20px;
    width: 48%;
    margin: auto;
}

.current-player {
    border-bottom: 10px solid rgb(97, 97, 97);
}

.heading-row {
    margin-bottom: 60px;
}

.app-players {
    padding: 15px;
}

.menu-container {
  width: 100%;
  padding-bottom: 1000px;
  background: url("./assets/menu.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  padding-top: 24%;
}

.menu-grid {
  height: 30%;
  width: 50%;
  margin: auto;
}

.menu-grid td {
  cursor: pointer;
  overflow: hidden;
  padding: 0px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
}

.menu-grid td:first-child {
  width: 10%;
}

.menu-grid td:last-child {
  width: 10%;
}

/* X */
.grid-0 {
    border-left: solid 10px rgba(21, 20, 20, 0.29);
    border-right: solid 10px rgba(21, 20, 20, 0.29);
    border-top: solid 10px rgba(21, 20, 20, 0.29);
    border-bottom: solid 10px rgba(21, 20, 20, 0.29);

    background: linear-gradient(to top left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 5px),
    rgba(21, 20, 20, 0.29) 50%,
    rgba(0, 0, 0, 0) calc(50% + 5px),
    rgba(0, 0, 0, 0) 100%),
    linear-gradient(to top right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 5px),
            rgba(21, 20, 20, 0.29) 50%,
            rgba(0, 0, 0, 0) calc(50% + 5px),
            rgba(0, 0, 0, 0) 100%);
}

/* Black */
.grid-1 {
    border-left: solid 10px rgba(21, 20, 20, 0.29);
    border-right: solid 10px rgba(21, 20, 20, 0.29);
    border-top: solid 10px rgba(21, 20, 20, 0.29);
    border-bottom: solid 10px rgba(21, 20, 20, 0.29);
    background-color: #1d1e1f;
}

/* Blank */
.grid-2 {
    border-left: solid 10px rgba(21, 20, 20, 0.29);
    border-right: solid 10px rgba(21, 20, 20, 0.29);
    border-top: solid 10px rgba(21, 20, 20, 0.29);
    border-bottom: solid 10px rgba(21, 20, 20, 0.29);
}

.error {
    color: red !important;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
    background-color: white;
}

.modal-footer {
  justify-content: space-between;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

// CART STYLES
.shopping-cart {
    .cf:before,.cf:after {content: " ";display: table;}
    .cf:after {clear: both;}
    .cf {*zoom: 1;}

    .wrap {
        width: 75%;
        max-width: 960px;
        margin: 0 auto;
        padding: 5% 0;
        margin-bottom: 5em;

    }
    .heading {
        padding: 1em 0;
        border-bottom: 1px solid #D0D0D0;

        h1 {
            font-family: $fontSerif;
            font-size: 2em;
            float: right;
        }

        a.continue {
            &:link, &:visited {
                text-decoration: none;
                font-family: $fontSerif;
                letter-spacing: -.015em;
                font-size: .95em;
                padding: 1em;
                color: #fff;
                background: #f69679;
                font-weight: bold;
                border-radius: 50px;
                float: left;
                text-align: left;
            }

            &:after {
                content: "\276f";
                padding: .5em;
                position: relative;
                right: 0;
            }

            &:hover, &:focus, &:active {
                background: #82ca9c;

                &:after {
                    right: -10px;
                }
            }
        }
    }

    // CART Items
    .cart {
        padding: 1em 0 ;

        .items {
            display: block;
            width: 100%;
            vertical-align: middle;
            padding: 1.5em;

            border-bottom: 1px solid #fafafa;
            &.even {
                background: #fafafa;
            }
            .infoWrap {
                display: table;
                width: 100%;
            }
            .cartSection {
                display: table-cell;
                vertical-align: middle;
                text-align: right;

                .itemNumber {
                    font-size: .75em;
                    color: #777;
                    margin-bottom: .5em;
                }

                h3 {

                    font-size: 1em;
                    font-family: $fontSans;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: .025em;


                }
                p {
                    display: inline-block;
                    font-size: .85em;

                    color: #777777;
                    font-family: $fontSans;
                    .quantity {
                        font-weight: bold;
                        color: #333;
                    }

                }
                &.qtyWrap , &.prodTotal {
                    text-align: center;
                    p {
                        font-weight: bold;
                        font-size: 1.25em;
                    }

                }
                .itemImg {
                    width: 8em;
                    float: right;
                    display: inline;
                    padding-right: 1em;
                    padding-left: 1em;
                }


            }
        }

    }
    .promoCode {
        border:2px solid #efefef;
        float: left;
        width: 35%;
        padding: 2%;
        label {
            display: block;
            width: 100%;
            font-style: italic;
            font-size: 1.15em;

            margin-bottom: .5em;
            letter-spacing: -.025em;

        }
        input {
            width: 85%;
            font-size: 1em;
            padding: .5em;
            float: right;
            border: 1px solid #dadada;
            &:active, &:focus {
                outline: 0;

            }
        }
        a.btn {
            float: left;
            width: 15%;
            padding: .75em 0;
            border-radius: 0 1em 1em 0;
            text-align: center;
            border: 1px solid #82ca9c;
            &:hover {
                border: 1px solid #f69679;
                background: #f69679;
            }
        }
    }

    .btn {
        &:link , &:visited {
            text-decoration: none;
            font-family: $fontSans;
            letter-spacing: -.015em;
            font-size: 1em;
            padding: 1em 3em;
            color: #fff;
            background: #f69679;
            font-weight: bold;
            border-radius: 50px;
            float: right;
            text-align: right;
            @include transition(all, .25s, linear);
        }
        &:before {
            content: "\276e";
            padding: .5em;
            position: relative;
            right:0;
            @include transition(all, .15s, linear);

        }
        &:hover , &:focus, &:active {
            background: #82ca9c;
            &:after {
                right: -10px;
            }
        }

        .promoCode & {
            font-size: .85em;
            paddding: .5em 2em;
        }
    }

    /* TOTAL AND CHECKOUT  */
    .subtotal {
        float: left;
        width: 35%;
        .totalRow {
            padding: .5em;
            text-align: left;
            &.final {
                font-size: 1.25em;
                font-weight: bold;
            }
            span {
                display: inline-block;
                padding: 0 0 0 1em;
                text-align: left;

            }
            .label {
                font-family: $fontSans;
                font-size: .85em;
                text-transform: uppercase;
                color: #777;
            }
            .value {

                letter-spacing: -.025em;
                width: 35%;
            }
        }
    }
}




